* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Poppins;
    width: 100%;
}

body{
    color: #22201F;
    background-color: #E4E4E4;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    text-align: center;
}

.container{
    max-width: 480px;
    text-align: center;
}

.slider{
    -webkit-appearance: none;
    width: 100%;
    border-radius: 5px;
    height: 18px;
    outline: none;
    margin-top: 3px;
    background: #B6B5B5;
}

.button-cta{
    align-items: center;
    height: 40px;
    width: 300px;
    margin-top: 10px;
    background-color: #2E2E2E;
    border: 0;
    border-radius: 4px;
    color:#f0f8ff;
    cursor: pointer;
    font-weight: 200;
    font-size: 18px;
}

.container-password{
    max-width: 480px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    
}

.password{
    height: 60px;
    border-radius: 5px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s;opacity:0.3;
}
.password:hover
{
        opacity:1;
}

.click{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide{
    display: none;
}


